<p>Find me in app/views/events/index.html.erb</p>

<div class="d-flex flex-column">
    <div class="row">
        <h1 class="my-1 mx-5">List of all events</h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 my-5 mx-5">



        </div>
    </div>  
<div>

